VITE_BASE_PATH_API=https://6vqt42ml-9101.inc1.devtunnels.ms
VITE_BASE_PATH_WEB=http://localhost:8080

VITE_APP_PEXELS_BASE_PATH=https://api.pexels.com
VITE_APP_PEXELS_KEY=fTBKKibPmBScb8OMT84k2eHqgcPZ8dzJ298bhiY1n40OECYCSj95msoM

VITE_APP_ICONIFY_BASE_PATH=https://api.iconify.design
