@import '~antd/dist/reset.css';

@import 'core/rde';
@import 'core/motion';

@import 'fonts/fonts';

@import 'antd/antd';
@import 'react-color/react-color';

.ant-menu-light .ant-menu-item-selected {
    background-color: #d3c4ee !important;
    color: #452e73 !important;
}

.ant-menu-light .ant-menu-item:hover {
    background-color: #d3c4ee !important;
    color: #452e73 !important;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.ant-upload-select {
    width: 100%;
}